.container {
	width: 90%;
	margin: auto;
	justify-content: center;
	text-align: center;
}

.input-field {
	padding: 10px;
	outline: none;
	border: none;
	border-bottom: 2px solid #333;
	font-size: 20px;
}

.list {
	list-style: none;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	text-align: left;
}

.list-item {
	background-color: #333;
	padding: 10px;
	margin: 10px;
	width: 45%;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.container {
		width: 95%;
	}
	.list {
		margin-left: -1.5rem;
	}
	.list-item {
		width: 100%;
	}
}
